
li {
    display: inline-block;
  }
  .dropdown-menu {
  width: 172px;
  }
  footer{
    height: 30px;
  }
  
.card {
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 9px 15px rgb(128, 122, 122);
  margin: 0;
}
 
 
 .card-info {
  position: relative;
  z-index: 3;
  color: #f5f5f5;
  opacity: 0;
  transform: translateY(20%);
  transition: 0.5s;
 }
 
 .card:hover {
  transform: translateY(5%);
 }
 

 .card:hover .card-info {
  opacity: 1;
  transform: translateY(0);
 }
 
 .card-button:hover {
  background: var(--color4);
  color: #f5f5f5;
 }